[Desktop Entry]
Name=Claws-Mail
Comment=GTK+ based e-mail client
Comment[pl]=Oparty na GTK2 program pocztowy
Exec=claws-mail
Icon=claws-mail
Terminal=false
Type=Application
Categories=GTK;Network;Email;
# vi: encoding=utf-8
